@import 'Login';
@import 'CheatSheet';

* {
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #edeef0;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.home-container {
  margin: 5px 15px 15px 15px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'draft-tracker draft-tracker draft-tracker draft-tracker'
    'roster draft-suggestions draft-suggestions draft-log'
    'cheat-sheets cheat-sheets cheat-sheets cheat-sheets';
}
.draft-tracker {
  grid-area: draft-tracker;
  background: rgb(126, 211, 122);
}
.roster {
  grid-area: roster;
  background: #f9f9fb;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  width: 280px;
  table {
    border-collapse: collapse;
    color: #48494a;
    td {
      padding: 4px;
    }
  }
}
.draft-suggestions {
  grid-area: draft-suggestions;
  background: #f9f9fb;
  border-radius: 10px;
}
.draft-log {
  grid-area: draft-log;
  background: rgb(233, 182, 182);
  border-radius: 10px;
}
.cheat-sheets {
  grid-area: cheat-sheets;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

.roster-content {
  padding-left: 10px;
  padding-bottom: 15px;
}

.roster-grid-row {
  max-width: 250px;
  padding: 10px 5px;
  font-size: 12px;
  border-bottom: 0.5px solid #eee;
  .pos {
    min-width: 40px;
  }
  .name {
    min-width: 110px;
    white-space: nowrap;
  }
  .team {
    min-width: 60px;
  }
  .bye {
    min-width: 20px;
  }
}

.roster-grid-row:hover {
  background: #e7f9ff;
}

// @media (min-width: 500px) {
//   .home-container {
//     grid-template-columns: 1fr 3fr;
//     grid-template-areas:
//     'draft-tracker' 'draft-tracker'
//     'draft-log' 'roster'
//     'draft-suggestions' 'draft-suggestions'
//     'cheat-sheets' 'cheat-sheets'
//   }
// }

// @media (min-width: 700px) {
//   .home-container {
//     grid-template-columns: 1fr 4fr 1fr;
//     grid-template-areas:
//     'draft-tracker' 'draft-tracker' 'draft-tracker'
//     'roster' 'draft-suggestions' 'draft-log'
//     'cheat-sheets' 'cheat-sheets' 'cheat-sheets'
//   }
// }
