// material ui green #4caf50

.merged-auth {
  display: flex;
}

.login-container {
  background: linear-gradient(to bottom right, rgba(89, 211, 123, 0.7), rgba(0, 200, 83, 0.8) );
  height: 550px;
  width: 530px;
  border-radius: 4px;
  position: absolute;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sign-in-title {
  margin: 0;
  position: absolute;
  top: 4%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-input {
  margin-bottom: 15px;
}

.sign-in-btn {
  margin-top: 40px;
  width: 400px;
}